<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Añadir Receta</title>
    {% load static %}
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
  </head>
  <body class="blog">
    <h1>Añadir Receta</h1>
    <form
      action="{% url 'crear_receta' %}"
      method="POST"
      enctype="multipart/form-data"
    >
      {% csrf_token %} 
      <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required />
      </div>
      <div>
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion" required></textarea>
      </div>
      <div>
        <label for="categoria">Categoría:</label>
        <select id="categoria" name="categoria" required>
          <option value="0">Receta</option>
          <option value="1">Receta Salada</option>
          <option value="2">Receta Dulce</option>
        </select>
      </div>
      <div>
        <label for="imagen">Imagen:</label>
        <input type="file" id="imagen" name="imagen"  />
      </div>
      <button type="submit" class="boton">Guardar Receta</button>
    </form>
  </body>
</html>
