*{
    text-align: center;
    font-size: 2rem;
 }

 html {
    font-size: 62.5%;
    font-family: italic;
  }



.blog {
    text-align: center;
    padding: 0.5rem;
    gap: 0.5rem;
}

.boton {
    background-color: #fff;
    color: #222;
    font-size: 2rem;
    margin: 10% 10%;
}




.nav-link{
color: #fff;


}


.cocina{
    display: grid;
    justify-content: center;
    background-color: #222;
    color: #fff;
    padding: 1rem;
}


.buscar{
    display: flex;
    font-size: 2rem;
}

.nav-blog {
    width: 100vw;
    background-color: #000;
    color: #000;
    margin-bottom: 2%;
    
}

.inicio {
    color: #fff;
}


  